/* dark-theme css */
body.dark-theme{
    color: #fff;
}
.dark-theme{
    background: #000;
}
.dark-theme .modal-content{
    background-color: #000;
}
.dark-theme .popup-style1 .close{
    background: #000;
    color: #fff;
}
.dark-theme header.header-style1 {
    background: #000;
}
.dark-theme .header-style1 .navbar-nav li a{
    color: #fff;
}
.dark-theme .dropdown-item:focus,
.dark-theme .dropdown-item:hover,
.dark-theme .dropdown-menu{
    background-color: #000;
}
.dark-theme .header-style1 .search input[type="text"]{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.dark-theme .header-style1 .search input::placeholder{
    color: #fff;
}
.dark-theme .header-style1 .search input:hover{
    color: #fff;
}
.dark-theme .wishlist{
    color: #fff!important;
}
.dark-theme a.wishlist:hover{
    color: #13b5ea!important;
}
.dark-theme .cartcontainer .shopping-cart{
    background-color: #000!important;
}
.dark-theme .text-black,
.dark-theme .text-gray{
    color: #fff;
}
.dark-theme .text-dark-gray{
    color: #fff!important;
}
.dark-theme .text-white{
    color: #000!important;
}
.dark-theme .slidertext span.text-black,
.dark-theme .slidertext h1.text-black,
.dark-theme .slidertext span,
.dark-theme .slidertext h1{
    color: #000;
}
.dark-theme .slider-style2 .sw-ar .swiper-pagination{
    color: #000;
}
.dark-theme .top-banner .top-banner-content .top-b-img .top-banner-text span.b-label,
.dark-theme .top-banner .top-banner-content .top-b-img .top-banner-text h6.b-title,
.dark-theme .top-banner .top-banner-content .top-b-img .top-banner-text span.b-offer{
    color: #000;
}
.dark-theme .bg-light-gray1{
    background: #000!important;
}
.dark-theme .best-deals-style1,
.dark-theme .exproducts-style1,
.dark-theme .dotd-style1,
.dark-theme .bestbrands{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.dark-theme .newsletterstyle-1{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.dark-theme .timer-style1 .counter-box span{
    color: #fff;
}
.dark-theme .news-letter-content span{
    color: #000;
}
.dark-theme .best-images .shop-now-btn .offer h6,
.dark-theme .best-images .shop-now-btn .offer span{
    color: #000;
}
.dark-theme .best-images .shop-now-btn .s-now{
    background: #000;
    color: #fff!important;
}
.dark-theme .best-images .shop-now-btn .s-now:hover {
    background-color: #13b5ea;
    color: #fff!important;
}
.dark-theme .text-black-ni{
    color: #fff;
}
.dark-theme .small-btn-gl{
    color: #fff;
}
.dark-theme .pro-list-info .rating span{
    color: #fff;
}
.dark-theme .pagination-style .pagination ul li button{
    background-color: #fff;
    color: #000;
}
.dark-theme .pagination-style .pagination ul li button.active,
.dark-theme .pagination-style .pagination ul li button:hover{
    background-color: #13b5ea;
    color: #fff!important;
}
.dark-theme .pagination-style .show-result p{
    color: #fff;
}
.dark-theme .blog-page .blod-date-like h6{
    color: #fff;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.dark-theme .blog-page .blod-date-like p,
.dark-theme .blog-likes,
.dark-theme .blog-ad-name .b-admin{
    color: #fff;
}
.dark-theme .border-bottom-medium-dark{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.dark-theme .border-right-medium-dark {
    border-right: 1px solid rgba(255,255,255,0.5);
}
.dark-theme .qty-input-style1 input{
    background: transparent;
    color: #fff;
}
.dark-theme .order-complete .co-order h3,
.dark-theme .order-complete .co-order p,
.dark-theme .order-complete .co-order h5{
    color: #000;
}
.dark-theme .order-status-style1 .track-or-text{
    color: #000;
}
.dark-theme .order-status-style1 .track-or-text span{
    background-color: #000!important;
    color: #fff;
}
.dark-theme .order-status-style1 .track-update{
    color: #ababab;
}
.dark-theme .order-status-style1 .track-update span,
.dark-theme .order-status-style1 p.tr-del{
    color: #000;
}
.dark-theme .order-status-style1 span.tr-or-st{
    color: #000;
}
.dark-theme .order-map-line h6,
.dark-theme .order-map-line i{
    color: #000;
}
.dark-theme .track-content .track-title{
    color: #000;
}
.dark-theme .track-content .trackdetails-style1 h6,
.dark-theme .track-content .trackdetails-style1 p{
    color: #000;
}
.dark-theme .track-content .trackdetails-style1 .hoverstyle1{
    color: #000;
    background-color: #fff;
}
.dark-theme .track-content .trackdetails-style1 .hoverstyle1:hover {
    color: #13b5ea !important;
}
.dark-theme .sign-in-content .form-choice .btn-g-f{
    color: #fff;
}
.dark-theme .sing-out-content a{
    color: #fff;
}
.dark-theme .coming-soon .coming-soon-top h3,
.dark-theme .coming-soon .coming-soon-top h4{
    color: #fff!important;
}
.dark-theme .foot-customer .store-icon i{
    color: #fff!important;
}
.dark-theme .copyright,
.dark-theme .payment-icon a i{
    color: #fff!important;
}
.dark-theme .close{
    content: #fff;
}
.dark-theme .border-bottom-medium-dark2 {
    border-bottom: 1px solid rgba(255,255,255,.5);
}
