body.rtl{
    direction: rtl;
    text-align: right;
}
body.rtl.modal-open{
    overflow-x: hidden!important;
}
.rtl .text-left{
    text-align: right!important;
}
.rtl .text-right{
    text-align: left!important;
}
.rtl .float-right{
    float: left!important;
}
.rtl .float-left{
    float: right!important;
}
.rtl .margin-right-5px{
    margin-left: 5px;
    margin-right: 0;
}
.rtl .margin-left-5px{
    margin-right: 5px;
    margin-left: 0;
}
.rtl .margin-right-7px{
    margin-left: 7px;
    margin-right: 0;
}
.rtl .margin-right-12px{
    margin-left: 12px;
    margin-right: 0;
}
.rtl .no-padding-left{
    padding-right: 0;
}
.rtl .no-padding-right{
    padding-left: 0;
}
.rtl .padding-left-0px{
    padding-right: 0;
}
.rtl .padding-left-10px{
    padding-right: 10px;
    padding-left: 0;
}
.rtl .padding-left-15px{
    padding-right: 15px;
    padding-left: 0;
}
.rtl .padding-left-20px{
    padding-right: 20px;
    padding-left: 0;
}
.rtl .padding-right-5px{
    padding-right: 0!important;
    padding-left: 5px;
}
.rtl .padding-right-10px{
    padding-left: 10px;
    padding-right: 0;
}
.rtl .padding-right-25px{
    padding-left: 25px;
    padding-right: 0;
}
.rtl .right-25{
    left: 25px;
    right: inherit;
}
.rtl .left-55p{
    left: auto;
    right: 55%;
}
.rtl .left-60p{
    left: inherit;
    right: 60%;
}
.rtl .float-md-left{
    float: right!important;
}
.rtl .float-md-right{
    float: left!important;
}
.rtl .web-tool{
    direction: ltr;
}
/* toastify css */
.rtl .Toastify .toast-container{
    left: 15px;
    right: auto;
}
.rtl .Toastify .Toastify__toast{
    flex-direction: row-reverse;
}
.rtl .Toastify__progress-bar{
    left: auto;
    right: 0;
    transform-origin: right;
}

.rtl .popup-bg{
    left: auto;
    right: 0;
}
.rtl .padding-10tb{
    padding: 10px 0px 10px 0px;
}
.rtl .nav{
    padding-right: 0;
}
.rtl .header-sticky{
    left: auto;
    right: auto;
    margin: 0 auto;
}
.rtl .navbar-nav{
    padding-right: 0;
}
.rtl ul.navbar-nav li:last-child{
    padding-left: 0;
}
.rtl .dropdown-toggle::after{
    content: "";
    margin-left: 0;
}
.rtl .dropdown-toggle::before{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
    vertical-align: top;
    border: none;
    margin-left: .255em;
}
.rtl .dropdown-item{
    text-align: right;
}
.rtl .dropdown-menu{
    right: 0;
    left: auto;
}
.rtl .dropdown-submenu .dropdown-menu{
    right: 100%;
    left: auto;
}
.rtl .show-cart .cartcontainer-style1, .cartcontainer{
    left: 18px;
}
.rtl .header-style1 .show-cart{
    margin-left: 0;
    margin-right: 10px;
}
.rtl .check-button{
    flex-direction: row-reverse;
}
.rtl .owl-stage-outer{
    direction: ltr;
}
.rtl .content-overlay .content ul{
    padding-right: 0;
}
.rtl .related-product-sec .content-overlay .content ul{
    flex-direction: row-reverse;
}
.rtl .content-overlay .content ul li{
    margin-left: 5px;
    margin-right: 0;
}
.rtl .content-overlay .content ul li:last-child{
    margin-left: 0;
}
.rtl .timer-style1 .counter-box{
    margin-left: 5px;
    margin-right: 0;
}
.rtl .timer-style1 .counter-box:last-child{
    margin-left: 0;
}
.rtl .bestbrands .b-brand ul.best-brand li{
    border-left: 1px solid #ddd;
    border-right: none;
}
.rtl .bestbrands .b-brand ul.best-brand li:nth-child(even){
    border-left: none;
}
.rtl .social-icon a{
    margin-right: 0;
    margin-left: 8px;
}
.rtl .social-icon a:last-child{
    margin-left: 0px;
}
.rtl .store-icon{
    margin-right: 0;
    margin-left: 10px;
    border-left: 1px solid #4e4c4c;
    border-right: none;
}
.rtl .copy-right-content{
    text-align: right;
}
.rtl .pr-2,
.rtl .px-2 {
    padding-left: .5rem!important;
    padding-right: 0!important;
}
.rtl .ml-3,
.rtl .mx-3 {
    margin-right: 1rem!important;
    margin-left: 0rem!important;
}
.rtl .ml-2,
.rtl .mx-2 {
    margin-right: .5rem!important;
    margin-left: 0rem!important;
}
.rtl .slider-style2 .sw-ar{
    flex-direction: row-reverse;
}
.rtl .slider-style2 .swiper-slide .slidertext{
    right: inherit;
    left: 10%;
    text-align: left;
}
.rtl .slider-style2 .swiper-slide:nth-child(2) .slidertext{
    left: inherit;
    right: 10%;
    text-align: right;
}
.rtl .slider-style2 .swiper-slide:nth-child(3) .slidertext{
    left: 10%;
    right: 10%;
    text-align: center;
}
.rtl .best-images .shop-now-btn .offer{
    right: 20px;
    text-align: right;
    left: inherit;
}
.rtl .top-banner .top-banner-content .top-b-img .top-banner-text{
    left: inherit;
    right: 30px;
    text-align: right;
}
.rtl .top-banner .top-banner-content:nth-child(3) .top-b-img .top-banner-text{
    left: 30px;
    right: inherit;
    text-align: left;
}
.rtl .modal-header .close{
    margin: -1rem auto -1rem -1rem;
}
.rtl .modal-body1{
    text-align: right;
}
.rtl .dotd-style1:after{
    right: 0;
}

/* popup rtl-css */
.rtl .modal-dialog.popup-style1 button.close{
    left: 0;
    right: auto;
}

/* breadcrumb rtl-css */
.rtl .breadcrumb-text i{
    transform: rotate(180deg);
}

/* product-detail rtl-css */
.rtl .item-description-style1{
    text-align: right;
}
.rtl .pro-list-info .rating span i{
     margin-left: 5px;
     margin-right: 0;
}
.rtl .pro-list-info .rating span i:last-child{
    margin-left: 0px;
}
.rtl .item-description-style1 .product-availablity span,
.rtl .item-description-style1 .color-title,
.rtl .item-description-style1 .quntity .quantity-wrapper .qty-title{
    margin-right: 0;
    margin-left: 5px;
}
.rtl .item-description-style1 .size a{
    margin-right: 0;
    margin-left: 5px;
}
.rtl .item-description-style1 .size a:first-of-type{
    margin-left: 0;
}
.rtl .item-description-style1 .share a{
    margin-right: 0;
    margin-left: 10px;
}
.rtl .item-description-style1 .share a:last-child{
    margin-left: 0;
}
.rtl .item-description-style1 .action-btn i{
    margin-right: 0px;
    margin-left: 5px;
}
.rtl .item-description-style1 .action-btn i.ml-3{
    margin-left: 5px!important;
}
.rtl .item-description-style1 .share label{
    margin-left: 5px;
    margin-right: 0;
}
.rtl .item-description-style1 .padding-right-5px{
    padding-right: 0!important;
}
.rtl .item-description-style1 .seller{
    display: flex!important;
    align-items: center;
    flex-direction: row-reverse;
    direction: ltr;
}
.rtl .product-rating .review-description,
.rtl .blockquote-footer{
    direction: ltr;
}
.rtl .product-rating .review-name {
    direction: ltr;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.rtl .product-rating .review-name span{
    margin-left: 0;
    margin-right: 5px;
}
.rtl .customer-top-review .media-body{
    margin-right: 15px;
    margin-left: 0;
}
.rtl .rate:not(:checked) > label{
    margin-right: 0;
    margin-left: 5px;
}
.rtl .rate:not(:checked) > label:last-child{
    margin-left: 0;
}

/* Product grid rtl-css */
.rtl .view-mode a{
    margin-left: 10px;
    margin-right: 0;
}
.rtl .grid-list-content h6{
    margin-right: 0;
    margin-left: 15px;
}
.rtl .select-wrapper select option{
    direction: ltr;
}
.rtl .pagination-style .pagination ul{
    padding-right: 0;
}
.rtl .pro-result .pagination-style:last-child{
    text-align: left;
}
.rtl .pagination-style .pagination ul li{
    margin-right: 0;
    margin-left: 5px;
}
.rtl .pagination-style .pagination ul li:last-child{
    margin-left: 0px;
}
.rtl .grid-page .small-img li{
    margin-right: 0;
    margin-left: 5px;
}
.rtl .grid-page .small-img li:last-child{
    margin-left: 0px;
}

/* Product list rtl-css */
.rtl .small-img li{
    margin-right: 0;
    margin-left: 5px;
}
.rtl .small-img li:last-child{
    margin-left: 0px;
}
.rtl .pro-list-info .quick-view span i{
    padding-left: 5px;
    padding-right: 0;
}
.rtl .pro-list-info .compare{
    margin-left: 0px;
    margin-right: 10px;
}
.rtl .pro-list-info .compare a i{
    padding-right: 0;
    padding-left: 5px;
}
.rtl .pro-list-info .product-badget span i,
.rtl .pro-list-info .wishlist span i{
    padding-right: 0;
    padding-left: 5px;
}
.rtl .pro-list-content .product-details{
    direction: ltr;
}
.rtl .left-gl-sidebar .sidebar-content .panel-collapse{
    margin-right: 10px;
    margin-left: 0;
}
.rtl .left-gl-sidebar .sidebar-content .panel-collapse ul{
    padding-right: 0;
}
.rtl .tags-product li {
    margin: 5px 0px 0 5px;
}

/* cart page rtl-css */
.rtl .table-bordered tr{
    border-right: 1px solid #dee2e6;
}
.rtl .qty-input-style1 i,
.rtl .qty-input-style1 input{
    float: right;
}
.rtl .continue-shopping a i,
.rtl .emp-cart button i{
    margin-left: 5px;
    margin-right: 0;
    transform: rotateY(180deg);
}
.rtl .chec-out i{
    margin-right: 5px;
    margin-left: 0;
    transform: rotateY(180deg);
}
.rtl .table-responsive .del-option{
    padding-left: 15px;
}
.rtl .table-responsive .del-option:last-child{
    padding-right: 15px!important;
    padding-left: 0px;
}

/* check-out-page rtl-css */
.rtl .check-out-page .detail-checkout .coupan-code{
    direction: ltr;
}
.rtl .check-out-page .form-action .bill-form .bill-action-button button {
    margin-right: 0px;
    margin-left: 5px;
}
.rtl .check-out-page .form-action .bill-form .bill-action-button button:last-child {
    margin-left: 0px;
}
.rtl .payment-mathod ..padding-left-5px{
    padding-left: 0!important;
    padding-right: 5px;
}
.rtl .payment-th-card i{
    margin-right: 0;
    margin-left:5px;
}
.rtl .payment-th-card i:last-child {
    margin-left: 0px;
}

/* forget password rtl-css */
.rtl .forget-password-page h6{
    direction: ltr;
}
.rtl .forget-password-page .forgot-pf ul li p{
    direction: ltr;
}

/* order-complete rtl-css */
.rtl .order-complete .or-co h6,
.rtl .order-complete .or-co p{
    direction: ltr;
}
.rtl .order-complete .print-rec span{
    margin-left: 0;
    margin-right: 5px;
}
.rtl .order-complete .or-co a{
    margin-right: 15px;
    margin-left: 0;
}
.rtl .order-complete .or-co a i{
    margin-left: 5px;
    margin-right: 0;
}
/* sign-in-style rtl-css */
.rtl .sign-in-content .sign-button .fgt-pwd{
    direction: ltr;
}
.rtl .sign-in-content .form-choice .share-btn .sh-bt a{
    margin-left: 5px;
    margin-right: 0;
}
.rtl .sign-in-content .form-choice .share-btn .sh-bt:last-child a{
    margin-left: 0px;
}
.rtl .sign-in-content .form-choice .share-btn .sh-bt a i{
    margin-right: 0px;
    margin-left: 5px;
}
.rtl .sing-out-content .sing-out img{
    margin-right: 0px;
    margin-left: 10px;
}
.rtl .sing-out-content a i{
    margin-left: 5px;
    margin-right: 0;
}
.rtl .sign-up-content .sign-up .sign-link{
    direction: ltr;
}

/* page-not-found */
.rtl .page-not-found p{
    direction: ltr;
}
.rtl .page-not-found .not-found-search-form input{
    margin-right: 0;
    margin-left: 5px;
 }

/* coming soon page css */
.rtl .coming-soon-top h3{
    direction: ltr;
}
.rtl .coming-soon-top .com-soon .com-search{
    margin-right: 0;
    margin-left: 5px;
}

/* track-order page css */
.rtl .track-drt{
    direction: ltr;
}
.rtl .order-status-style1 .order-map-line .ord-rec-after{
    margin-right: 0!important;
    margin-left: 3rem!important;
}
.rtl .order-status-style1 .order-map-line .order-status-round.delivered-before{
    margin-right: 3rem!important;
    margin-left: 0!important;
}
.rtl .ord-rec-after:after{
    left: unset;
    right: 19%;
}
.rtl .ship-before::before{
    left: unset;
    right: 24%;
}
.rtl .ship-after:after{
    left: unset;
    right: 44%;
}
.rtl .o4d-before:before {
    right: 50%;
    left: unset;
}
.rtl .o4d-after:after{
    left:23%;
    right: unset;
}
.rtl .delivered-before:before{
    right: unset;
    left: 18%;
}
.rtl .trackdetails-style1 h6{
    direction: ltr;
}

/* blog-detailsstyle1 css */
.rtl .blog-detailsstyle1 h4{
    direction: ltr;
}
.rtl .blog-detailsstyle1 .blog-detail-social ul li{
    direction: ltr;
}
.rtl .blog-detailsstyle1 .blog-detail-social li + li {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #dee2e6;
    padding-left: 0px;
    margin-left: 0px;
    border-left: none;
}
.rtl .blog-detailsstyle1 p{
    direction: ltr;
}
.rtl .blog-detailsstyle1 i.fa-quote-left{
    padding-right: 5px!important;
    padding-left: 0px;
}
.rtl .blog-detailsstyle1 i.fa-quote-right{
    padding-right: 0;
    padding-left: 5px;
}
.rtl .blog-detailsstyle1 ul.blog-details-social li a{
    margin-right: 0;
    margin-left: 10px;
}
.rtl .related-blogs-title h5{
    direction: ltr;
}
.rtl .blog-wrap{
    flex-direction: row-reverse;
}
.rtl .blog-wrap .tab-info-details{
    padding-right: 30px;
    padding-left: 15px;
}
.rtl .comments-title{
    direction: ltr;
}
.rtl .blog-detailsstyle1 .comments-sectionstyle1 .comment-img{
    padding-left: 15px;
    padding-right: 0px;
}
.rtl .blog-detailsstyle1 .comments-sectionstyle1 .cmt-reply{
    padding-left: 0px;
    padding-right: 30px;
}
.rtl .blog-detailsstyle1 .comments-sectionstyle1 .commentdetails{
    border-left: none;
    border-right: 1px solid #dee2e6;
}
.rtl .left-sidebar .left-search-top .btn-default{
    left: 5px;
    right: auto;
    transform: rotateY(180deg);
}
.rtl .list-unstyled{
    padding-right: 0;
}
.rtl .sidebar-content .recent-blog-info{
    direction: ltr;
}
.rtl .sidebar-content .recent-blog-info p i,
.rtl .recent-blog-p-content p i{
    padding-left: 0;
    padding-right: 5px!important;
}
.rtl .left-sidebar .sidebar-content .tag li{
    margin: 5px 0 0 5px;
}

.rtl .blog-page .blod-date-like .data-box-grid,
.rtl .blog-page .blod-date-like .blog-likes,
.rtl .blog-ad-name .b-admin,
.rtl .blog-ad-name .blog-likes{
    direction: ltr;
}

/* contact us css */
.rtl .comment-form h5,
.rtl .comment-form p{
    direction: ltr;
}
.rtl .border-right-medium-dark{
    border-right: none;
    border-left: 1px solid rgba(0,0,0,.10);
}

/* product-comparision page */
.rtl .product-comparision .over-view .over-view-info .close-product{
    right: auto;
    left: -10px;
}
.rtl .product-comparision .over-view .over-view-info .pro-desc-detail{
    display: block;
    direction: ltr;
}
.rtl .product-comparision .pro-com-color ul{
    padding-right: 0;
}
.rtl .product-comparision .pro-com-color ul li,
.rtl .product-comparision .over-view .over-view-info .size .size-opt{
    margin-right: 0;
    margin-left: 5px;
}
.rtl .product-comparision .pro-com-color ul li:last-child,
.rtl .product-comparision .over-view .over-view-info .size .size-opt:last-child{
    margin-left: 0px;
}

/* sitemap css star */
.rtl .site-map ul{
    padding-left: 0;
    padding-right: 1rem;
}
.rtl .site-map .pl-2,
.rtl .site-map .px-2{
    padding-right: .5rem;
    padding-left: 0!important;
}
