@media (max-width:1599px){
    .rtl .lg-padding-right-20px{
        padding-left: 15px;
    }
}
/* for ipad-pro */
@media (max-width: 1199px){}
/* for ipad */
@media (max-width: 991px){
    .rtl .md-left-0{
        right: 0;
        left: inherit;
    }
    .rtl .md-textalign-left{
        text-align: right;
    }
    /* header rtlcss  */
    .rtl .header-style1 .navbar-toggler:not(:disabled):not(.disabled){
        float: left;
    }
    .rtl .header-style1 .bagtext span{
        margin-left: 5px;
        margin-right: 0;
    }
    .rtl .navbar-nav li{
        padding: 3px;
    }
    .rtl .dropdown-toggle::before{
        content: "";
        margin-left: 0;
    }
    .rtl .dropdown-toggle::after{
        content: "\f107";
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        float: left;
        margin-left: 40px;
    }
    .rtl .navbar-nav li a{
        padding-right: 24px;
        padding-left: 0!important;
    }
    .rtl .header-style1 .navbar-collapse ul.navbar-nav li ul.dropdown-menu{
        margin-left: 0;
        margin-right: 15px;
    }
    .rtl .header-style1 .navbar-collapse ul.navbar-nav li ul.dropdown-menu li a {
        padding: 0 15px 0 0px !important;
    }
    .rtl .dropdown-submenu a.dropdown-toggle::after{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        float: left;
        margin-left: 40px;
    }
    .rtl .header-style1 .navbar-collapse ul.navbar-nav li ul.dropdown-menu li:last-child{
        padding-left: 3px;
    }

    /* pagination-style */
    .rtl .side-bar-page .pro-result .pagination-style:last-child{
        text-align: center;
    }

    /* track-order page css */
    .rtl .ord-rec-after:after{
        right: 18%;
    }
    .rtl .ship-before::before{
        right: 22%;
    }
    .rtl .ship-after:after{
        right: 44%;
    }
    .rtl .o4d-before:before {
        right: 50%;
    }
    .rtl .o4d-after:after{
        left: 21%;
    }
    .rtl .delivered-before:before{
        left: 16%;
    }

    /* contact us css */
    .rtl .md-border-right-0px{
        border-left: none;
    }
}
/* for phone */
@media (max-width: 767px){
    .rtl .sm-padding-5px{
        padding: 5px;
    }
    .rtl .sm-left-5px{
        left: auto;
        right: 5px;
    }
    .rtl .sm-left-50p{
        right: 50%;
        left: auto;
    }
    .rtl .sm-right-3p{
        left: 3%;
        right: auto;
    }
    .rtl .sm-no-padding-right{
        padding-left: 0;
    }
    .rtl .copy-right-content{
        text-align: center;
    }
    .rtl .sm-text-center{
        text-align: center!important;
    }
    .rtl .navbar-nav li a{
        padding-right: 20px!important;
    }
    .rtl a.dropdown-toggle::after{
        margin-left: 30px;
        margin-right: 0;
    }
    .rtl .slider-style1 .owl-prev{
        left: 40px;
    }
    .rtl .slider-style1 .owl-next{
        right: 25px;
    }

    /* Product grid rtl-css */
    .rtl .pro-result .pagination-style:last-child{
        text-align: center;
    }
    .rtl .table-responsive .del-option{
        padding-right: 15px;
    }
    .rtl .table-responsive .del-option:last-child{
        padding-left: 15px;
    }
    .rtl .sign-in-content .form-choice .share-btn .sh-bt a{
        margin-left: 0;
    }

    /* coming soon page css */
    .rtl .coming-soon-top .com-soon .com-search{
        margin-left: 0px;
    }

    /* track-order page css */
    .rtl .track-drt{
        float: right!important;
    }
    .rtl .order-status-style1 .order-map-line .ord-rec-after{
        margin-left: 0!important;
    }
    .rtl .ord-rec-after:after{
        left: 0;
        right: 0;
        margin: auto;
    }
    .rtl .ship-before::before{
        left: 0;
        right: 0;
        margin: auto;
    }
    .rtl .ship-after:after{
        left: 0;
        right: 0;
        margin: auto;
    }
    .rtl .o4d-before:before {
        left: 0;
        right: 0;
        margin: auto;
    }
    .rtl .o4d-after:after{
        left: 0;
        right: 0;
        margin: auto;
    }
    .rtl .delivered-before:before{
        left: 0;
        right: 0;
        margin: auto;
    }
    .rtl .order-status-style1 .order-map-line .order-status-round.delivered-before{
        margin-right: 0!important;
    }

    /* blog-detailsstyle1 */
    .rtl .blog-detailsstyle1 .blog-detail-social li + li{
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }
    .rtl .blog-wrap{
        flex-direction: column;
    }
    .rtl .blog-wrap .tab-info-details{
        padding: 10px 0 0;
    }
    .rtl .blog-detailsstyle1 .comments-sectionstyle1 .blog-comme-content .comme-reply{
        padding-left: 0;
        padding-right: 15px;
    }
    .rtl .blog-detailsstyle1 .comments-sectionstyle1 .cmt-reply{
        padding-right: 15px;
    }

    /* sitemap css star */
    .rtl .site-map ul{
        padding-right: 15px;
    }
}
